.easyselector, .easyselector-list, .easyselector-settings {
  border: 1px solid #cfcfcf;
}

.easyselector {
  text-align: left;
  position: relative;
  display: inline-block;
  width: 'auto';
  padding: 0px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background-image: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background-image: -o-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background-image: linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  input {
    font-family: inherit;
    font-size: inherit;
    border: none;
    padding: 0.3em;
    display: inline-block;
  }
}

.easyselector-conf, .easyselector-arrow {
  font-family: inherit;
  font-size: inherit;
  border: none;
  padding: 0.3em;
  display: inline-block;
}

.easyselector-conf, .easyselector-arrow {
  position: absolute;
  top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 1.7em;
}

.easyselector-conf div, .easyselector-arrow div {
  height: inherit;
}

.easyselector-conf {
  display: inline;
  right: 0px;
}

.easyselector-arrow {
  right: 28px;
  background: inherit;
}

.easyselector {
  input[type="text"] {
    width: 70%;
    margin: 0px;
    background: none;
    outline: none;
    text-overflow: ellipsis;
    padding-right: 0px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

.easyselector-settings a, .easyselector-list a {
  text-decoration: none;
  color: inherit;
}

.easyselector-arrow div {
  background-image: url(../img/easyselector-sprite.png);
  background-position: left top;
  width: 9px;
  display: inline-block;
  padding: 0px;
}

.easyselector-settings {
  right: -1px;
  position: absolute;
  width: 10em;
  left: auto;
  a:active {
    background-color: #555;
    color: #ddd;
  }
  li.selected a {
    background-image: url(../img/right_arrow.png);
    background-repeat: no-repeat;
    background-position: 0px;
    background-clip: border-box;
    background-color: #b0b0b0;
  }
}

.easyselector.expanded {
  background: #fff;
  .easyselector-arrow div {
    background-position: 34px 0px;
  }
}

.easyselector-list, .easyselector-settings {
  position: absolute;
  display: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
  background: #efefef;
  overflow-y: auto;
  -webkit-box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);
}

.easyselector-list {
  left: -1px;
  position: absolute;
  li {
    display: list-item;
    &:hover, a:focus {
      background-color: #cfcfcf;
      color: #000;
    }
  }
}

.easyselector-settings {
  li:hover, &.keyboard a:focus {
    background-color: #cfcfcf;
    color: #000;
  }
}

.easyselector-list li {
  &.message {
    font-weight: bold;
    font-size: 0.8em;
    padding: 0.2em;
  }
  a {
    display: block;
    padding: 0.3em;
    padding-left: 1em;
    outline: none;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.easyselector-settings li a {
  display: block;
  padding: 0.3em;
  padding-left: 1em;
  outline: none;
  text-overflow: ellipsis;
  overflow: hidden;
}

.easyselector.expanded .easyselector-list {
  display: block;
}

.easyselector-conf {
  background: #dfdfdf;
  display: inline-block;
  div {
    width: 18px;
    background: url('../img/gear.png') center no-repeat;
  }
}